{% extends "layout.njk" %}

{% block head %}
    <title>Cursos</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %} 
    <div id="wrapper">
        <h1>Cursos</h1>
    </div>

    <section class="cursos">
        {% for item in cursos %}
            <div class="curso">
                <div class="curso__image-container">
                    <img src="{{ item.image_url }}" alt="imagem do curso {{ item.title }}">
                </div>
                <div class="curso__content">
                    <strong class="curso_title">{{ item.title }}</strong>
                    <p>
                        {{ item.description }}
                    </p>
                </div>
                <div class="curso__info">
                    <p>{{ item.qtd_mod }}</p>
                    <p class="curso__price">{{ item.price }}</p>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="maximize-modal">
                <span class="material-icons">maximize</span>
            </a>
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <iframe frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>
{% endblock %}

       
    
