{% extends "layout.njk" %}

{% block content %}

    <div id="wrapper">
        <img src="{{ data_student.img_url }}" alt="imagem de {{ data_student.name }}">
        <h1>{{ data_student.name }}</h1>
        <h2>{{ data_student.role }}</h2>
        <p>{{ data_student.description }}</p>
    </div>
    
    <div class="links" id="footer-links">
        {% for item in data_student.links %}
            <a href="{{ item.link_url }}" target="_blank">{{ item.name }}</a>
        {% endfor %}
        
    </div>

{% endblock %}